@CHARSET "ISO-8859-1";

.cal_calendrier
{
       /* border:1px solid black;*/
        padding:1px;
        background-color:#ffffff;
        width:208px;
        margin:auto;
        height:200px;
       /* background-image:url(images/fond-250-200.gif);*/
}
.cal_calendrier th
{
        border:1px solid black;
        background-color:#ffffff;
}
.cal_calendrier td
{
        border:1px solid black;
        background-color:#ffffff;
        text-align:center;
}
.cal_aujourdhui
{
        color:#ff0000;
}
.cal_jours_av_ap
{
        color:#5a779e;
}