@CHARSET "ISO-8859-1";


a {
	text-decoration: none;
}

a:link {
	color: #080;
}

a:visited {
	color: #790;
}

a:active {
	color: red;
}

a:hover {
	text-decoration: underline;
}



.divlink a:hover {
background: url(images/menu_r.gif) repeat-x;

}
#nav a {
	float:left;
	width: 105px;
	height: 45px;
    display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase; 
	padding-top: 26px;
	}
#nav ul {
	list-style : none; /* on supprime le style par défaut de la liste */
}
#nav li li a {
	display: block;
	width: 200px;
	height: 20px;
	font-weight: normal;
	color: #006600;
	font-weight: bold;
	text-align: left;
	border-bottom : 2px solid #996600;
	padding-top: 3px;
}
#nav
{
width: 669px;
height: 71px;
padding-left: 100px;  
background: url(images/menu.gif) repeat-x;
}

#nav li li a:hover {
	width: 200px; 
    height: 20px; 
    text-align: left;
    color: #DAFAC9;
	background: url(images/menu.gif) repeat-x;
	
}
.more
{
text-align: right;
}

#nav li {
	
	float: left;
	position: relative;
	width: 8em;
	text-align: center;
	cursor: default;
	background-color: none;
	}
 li ul {
	display: none;
	position: auto;
	top: 100%; 
	left: 0;
	font-weight: normal;
	background-color:  black; 
	width: 200px;
	list-style : none; /* on supprime le style par défaut de la liste */
}

li>ul {
	top: auto;
	left: auto;
	list-style : none; /* on supprime le style par défaut de la liste */
}
li:hover ul, li.over ul {
	display: block;
	float: left;
}