@CHARSET "ISO-8859-1";



*

{
margin: 0px;
padding: 0px;
}

a:link {
	color: #ffffff;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	color: #ffffff;
}

body {
	
	background: #FFFFFF url(images/back_all.gif);
	font: 13px Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}

#content
{
	margin: 0 auto;
	width: 769px;
	border: 15px solid #ffffff;
}


#header {
	height: 348px; 
	width: 769px;
}

#menu
{
width: 669px;
height: 71px;
padding-left: 100px;
background: url(images/menu.gif) repeat-x;
}

#menu ul {
	list-style: none;	
}

#menu li {
	
	display: inline; 
	overflow: hidden;
}

#menu a {
	float: left;
	width: 100px;
	height: 45px;
    display: block;
	text-align: center;
	text-decoration: none; 
	color: #ffffff;
	font-weight: bold; 
	font-size: 12px; 
	text-transform: uppercase;
	padding-top: 26px;
}

#menu a:hover {
	width: 100px;
    height: 45px;
	color: #DAFAC9;
	text-decoration: underline;
	background: url(images/menu_r.gif) repeat-x;
}


.more
{
text-align: right;
}


#logo {
width: 749px;
height: 257px;
text-align:  left;
padding-left: 20px;
padding-top: 20px;
background: url(images/header.jpg) no-repeat;	
}


#logo a {
	text-decoration: none;
	font-style: italic;
	font-size: 18px;
	color: #ffffff;
}
#logo H2
{
font-size: 15px;
color: #ffffff;
}

#main
{
background: #ffffff url(images/table_back.gif) repeat-x top
}

#left
{
	padding-left: 10px;
	padding-top: 10px;
	width: 212px;
}


.left_back
{
background: url(images/back.png) repeat-y;
padding-top: 10px;
}

.bottom
{
background: url(images/bottom.png) no-repeat top;
height: 16px;
width: 212px;
}

#left H3
{
width: 190px;
height: 24px;
font-size: 13px;
font-weight: bold;
padding-left: 22px;
padding-top: 15px;
text-transform: uppercase;
color: #ffffff;
background: url(images/title.png) no-repeat
}


#left ul {
	list-style: none;
}

#left li {
	border: 0px;
	margin-left: 20px;
	margin-top: 2px;
	
}


#left .title_back
{
padding: 10px;
}


#left a {
	color: #65A204;
}
#left a:visited {
	color: #65A204;
}

#left p
{
padding: 10px;
padding-left: 20px;
}




#right
{
float: right;
width: 520px;
padding-top: 10px;
padding-right: 10px;
}

#right .box
{
border: 1px solid #C9C9C9;
background: #ffffff;
padding: 10px;
margin-bottom: 10px;
}

#right ol, #right ul
{
margin-left: 30px;
}

#right H4
{
	margin: 0;
	padding: 0px;
	font-size: 12px;
	color: #65A204;
}

#right a
{
color: #65A204;
text-decoration: none;
}

#right p {
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}


#right h1 {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	color: #65A204;
}
.date {
	text-align: right;
	color: #65A204;
	font-size: 11px;
}

.date a {
	color: #65A204;
}


#footer {
	height: 60px;
	clear: both;
	padding-top: 30px;
	background: url(images/footer.gif) repeat-x; 
}

#footer p {
	margin: 0;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}

#footer a {
	color: #ffffff;
}